<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmback.xncoding.mapper.UserMapper">
    <!-- 定义公共的SQL语句-->
    <sql id="selectUser">
        SELECT
            A.id              AS id,
            A.username        AS username,
            A.fullname        AS fullname,
            A.created_time    AS createdTime,
            A.updated_time    AS updatedTime,
            A.mobile          AS mobile,
            A.role            AS role,
            A.area            AS area
        FROM t_user A
    </sql>

    <resultMap id="userMap" type="User">
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="fullname" property="fullname" />
        <result column="createdTime" property="createdTime" />
        <result column="updatedTime" property="updatedTime" />
        <result column="mobile" property="mobile" />
        <result column="role" property="role" />
    </resultMap>

    <select id="checkLogin" resultMap="userMap">
        <include refid="selectUser"/>
        WHERE A.username=#{name, jdbcType=VARCHAR} AND A.password=#{password, jdbcType=VARCHAR}
    </select>

</mapper>